*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

table{
    text-align: center;
    width: 90vw;
    margin: 50px auto;
}

table,th,td,tr{
    border: 1px solid black;
}

th,td{
    padding: 5px;
}

.container{
    width: 30vh;
    margin: 50px auto;
}

.boton{
    text-decoration: none;
    color: white;
    background-color: lightskyblue;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    display: block;
    text-align: center;
}